.tif-module-image-panels-text {
  .container {
    .inner {
      .panel-wrapper {
        .row.custom {
          margin-left: -10px;
          margin-right: -10px;

          .panel {
            padding-left: 10px;
            padding-right: 10px;

            .tif-bg-image {
              min-height: 450px;
            }

            .copy-wrapper {
              background-color: $white;
              margin-top: -20px;
            }
          }

          @include media-breakpoint-up(lg) {
            margin-left: -20px;
            margin-right: -20px;

            .panel {
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }
}
